li.member
  .userImage
    img(src= locals.member.picUrl() + '?s=180')
  h2 #{locals.member.character.name}
  .stats
    if !!locals.member.character.level && !!locals.member.character.spec
      #{locals.member.character.level} - #{locals.member.character.spec}
    else
      | ?
  .name= locals.member.fullName()
  .activeTask= (locals.activeTaskTitle || 'No active task.')
  .healthPerc
    .label #{locals.healthPerc || 0}%
    .mask
  .attackPerc(class=locals.member.character.spec.toLowerCase())
    .label #{locals.attackPerc || 0}%
    .mask
