li.member
  .userImage
    img(src= locals.member.picUrl() + '?s=180')
  h2 #{locals.member.character.name}
  .stats #{locals.member.character.level} - #{locals.member.character.spec}
  .name= locals.member.fullName()
  .activeTask= (locals.activeTaskTitle || '')
  .healthPerc
    .label #{locals.healthPerc || 0}%
    .mask
  .attackPerc(class=locals.member.character.spec.toLowerCase())
    .label #{locals.attackPerc || 0}%
    .mask
